In [ ]:
10 
"Mezo"
False

In [2]:
birth_year = input("Enter your birth year:")
age = 2023 - int(birth_year)
print(age)

38

In [ ]:
#Those are conversion methods 
int()
float()
bool()
str()

In [3]:
#Int Calculator Example : 3 + 1
first = input("First Number")
second = input("Second Number")
sum = int(first) + int(second)
print(sum)

6

In [4]:
#float Calculator example: 10.5 + 3.86
first = input("First Number")
second = input("Second Number")
sum = float(first) + float(second)
print(sum)

13.75

In [1]:
#arithmetic operators 
print(10+3)
print(10-3)
print(10*3)
print(10/3)

13
7
30
3.3333333333333335

In [7]:
#use sub or minus with the += -= 
x= 10 
x=x+3
print(x) 
x+= 3 
print(x)
x-= 3 
print(x)

13
16
13

In [6]:
#Paranteses first and then other operator is working 
x = (10+3) * 2 
print(x)

26

In [9]:
x = 3 > 2 
print(x)
x = 3 < 2
print(x)
x = 3 == 2
print(x) 
x = 3 != 2
print(x)

True
False
False
True

In [14]:
#Between numbers 
price = 25 
print(price > 10 and price < 30)
print(price > 10 or price < 30)
print(not price > 10)

True
True
False